 <div class="ui basic segment">
            <%= form_for(@user) do |f| %>
            <%= f.file_field :profile_pic %>
            <div class="actions">
            <%= f.submit %>
            </div>
            <% end %>
            <a class="ui tiny basic positive button" href="/users/<%=@user.id%>/edit">Edit Profile</a>
            <a class="ui tiny negative basic right floated button" data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/users/<%=@user.id%>">Delete Profile</a>
        </div>
            <% if current_user.friends_with?(@user) %>
                <div class="ui basic segment">
                    <%= form_tag ({controller: 'friendships', action: 'remove', method: 'post', :id => @user.id}) do %>
                        <input class="ui basic tiny negative button" type=submit value='Unfriend'>
                        <% end %>
                </div>
                <div class="ui basic segment">
                            <%= form_tag ({controller: 'friendships', action: 'block', method: 'post', :id=> @user.id}) do %>
                                <input class="ui basic positive button" type=submit value='block'>
                                <% end %>
                        </div>
                <% end %>
                    <% if current_user.not_friends.include?(@user) %>
                        <div class="ui basic segment">
                            <%= form_tag ({controller: 'friendships', action: 'create', method: 'post', :id=> @user.id}) do %>
                                <input class="ui basic positive button" type=submit value='Send Friend Request'>
                                <% end %>
                        </div>
                        <% end %>